<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;<a href="https://www.google.com">Google</a>
      and <a href=htttp://youtube.com">Youtube</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>

  </footer>


</div>